.tick {
    position: absolute;
    margin: -9px -9px;
    width: 18px;
    height: 18px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    display: inline-block;
}

.led {
    background-color: black;
    position: absolute;
    margin: -5px -5px;
    width: 10px;
    height: 10px;
}